fastapi==0.68.1
pydantic==1.8.2
starlette==0.14.2
typing-extensions==3.10.0.2
SQLAlchemy~=1.4.25
sqlmodel~=0.0.4
sh~=1.14.2
python-nginx~=1.5.6
PyJWT~=2.3.0
databases~=0.5.2
click~=8.0.3
alembic~=1.7.4