alembic==1.7.4
click==8.0.3
databases==0.5.3
fastapi==0.68.1
greenlet==1.1.2
importlib-metadata==4.8.1
importlib-resources==5.3.0
Mako==1.1.5
MarkupSafe==2.0.1
pydantic==1.8.2
PyJWT==2.3.0
python-nginx==1.5.6
SQLAlchemy==1.4.26
sqlalchemy2-stubs==0.0.2a18
sqlmodel==0.0.4
starlette==0.14.2
typing-extensions==3.10.0.2
zipp==3.6.0
